<footer class="footer">
  <small>
    by Léo Larrère & Victor Mours & Hristo Nenov & Yang Song
  </small>
  <nav>
    <ul>
      <li><a href="http://www.iit.edu/">IIT Website</a></li>
    </ul>
  </nav>
</footer>