<script type="text/javascript" src="https://js.stripe.com/v1/"></script>

<script type="text/javascript">

    Stripe.setPublishableKey('pk_test_nqQ1RWlINz30kUGVQmADEcqz');

    function stripeResponseHandler(status, response)
    {
        if (response.error)
        {
            alert('error' + response.error.message);
            $(".payment-errors").text(response.error.message);
        }
        else
        {
            alert('success');
            var form$ = $("#stripe-form");
            var token = response['id'];
            form$.append("<input type='hidden' name='stripeToken' value='" + token + "'/>");
            form$.get(0).submit();
        }
    }

    $(document).ready(function()
    {
        $("#stripe-form").submit(function(event)
        {
            $('.submit').attr("disabled", "disabled");
            Stripe.createToken(
            {
                number: $('.credit-number').val(),
                cvc: $('.credit-security').val(),
                exp_month: $('.card-expiry-month').val(),
                exp_year: $('.card-expiry-year').val()
            }, stripeResponseHandler);

        // prevent the form from submitting with the default action
        return false;
        });
    });

</script>

<div class=".payment-errors"></div>

<form action="/pay" style="margin: 0 auto; width: 50%;" method="post" id="stripe-form">

  <div class="formset">
    <label>Card Number</label>
    <input type="text" size="20" autocomplete="off" style="width: 300px;" class="credit-number" />
  </div>

  <div class="formset">
    <label>Security Code/CVC</label>
    <input type="text" size="4" autocomplete="off" style="width: 50px;" class="credit-security" />
  </div>

  <div class="formset">
    <label>Expiration (MM/YYYY)</label>
    <input type="text" size="2" style="width: 50px;" class="card-expiry-month"/>
    <span> / </span>
    <input type="text" size="4" style="width: 100px;" class="card-expiry-year"/>
  </div>
         <br/>
  <button type="submit" class="btn btn-large btn-primary">Submit Payment</button>
</form>
