<body class= 'welcomepage'>
<div class="center button">
   <%= link_to "Enter the Marketplace", adverts_path, class: "btn btn-large btn-primary", id: "enter" %>
</div>
<div class="center button">
  <%= link_to "Sign up now", signup_path, class: "btn btn-large btn-primary", id: "signed"%>
</div>
</body>